main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}

body > main {
  margin-top: 20px;
  margin-bottom: 60px;
}

.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.homebg {
  width: 100%;
  background: url(/img/GridBG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hometext {
  font-family: "Monoton", regular;
  font-weight: 400;
  font-style: normal;
  color: rgb(195, 255, 0);
}

.minheight {
  min-height: 80vh;
}
